body {
    background-color: green;
    font-size: 300%;
    text-align: center;
}

h1 {
    text-align: center;
}

container {
    font: italic;
    border-style: groove;
    border-radius: 6%;
    border-color: black;
}

container2 {
    font: italic;
    border-radius: 6%;
    border-color: black;
}

input {
    height: 40px;
    width: 300px;
    padding: 1.2%;
    margin-bottom: 30px;
    border: 2px solid black;
    outline: dotted red;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

